In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('sql_injection_dataset.csv')
data

,IP,Time,URL,Status
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200
...,...,...,...,...
16002,10.130.2.1,[02/Mar/2018:15:47:12,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
16003,10.130.2.1,[02/Mar/2018:15:47:23,GET /allsubmission.php HTTP/1.1,200
16004,10.130.2.1,[02/Mar/2018:15:47:32,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
16005,10.130.2.1,[02/Mar/2018:15:47:35,GET /allsubmission.php HTTP/1.1,200
16006,10.130.2.1,[02/Mar/2018:15:47:46,GET /home.php HTTP/1.1,200

In [2]:
# Summarize the dataset
data.describe()

                IP    Time                      URL Status
count        16007   16007                    16007  16007
unique          16    7307                      314     13
top     10.128.2.1  cannot  GET /login.php HTTP/1.1    200
freq          4257     167                     3284  11330

In [35]:
data.head()

,IP,Time,URL,Status
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16007 entries, 0 to 16006
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IP      16007 non-null  object
 1   Time    16007 non-null  object
 2   URL     16007 non-null  object
 3   Status  16007 non-null  object
dtypes: object(4)
memory usage: 500.3+ KB

In [6]:
# Extract URLs and requests
urls = data['URL']
requests = data['Status']

In [23]:
# print("Extracted URLs:", urls)
urls

0                              GET /login.php HTTP/1.1
1                           POST /process.php HTTP/1.1
2                               GET /home.php HTTP/1.1
3                GET /js/vendor/moment.min.js HTTP/1.1
4        GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1
                             ...
16002       GET /showcode.php?id=309&nm=ham05 HTTP/1.1
16003                  GET /allsubmission.php HTTP/1.1
16004       GET /showcode.php?id=309&nm=ham05 HTTP/1.1
16005                  GET /allsubmission.php HTTP/1.1
16006                           GET /home.php HTTP/1.1
Name: URL, Length: 16007, dtype: object

In [24]:
# print("Request Types:", requests)
requests

0        200
1        302
2        200
3        200
4        200
        ...
16002    200
16003    200
16004    200
16005    200
16006    200
Name: Status, Length: 16007, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and test sets (80% train, 20% test)
train_urls, test_urls, train_requests, test_requests = train_test_split(urls, requests, test_size=0.2, random_state=42)

In [29]:
print("Training URLs:")
train_urls

Training URLs:

676                                 GET /home.php HTTP/1.1
15755    GET /contestproblem.php?name=RUET%20OJ%20TLE%2...
6624        GET /js/vendor/modernizr-2.8.3.min.js HTTP/1.1
10746                               GET /home.php HTTP/1.1
9638                               GET /login.php HTTP/1.1
                               ...
13418                               GET /home.php HTTP/1.1
5390     GET /contestproblem.php?name=RUET%20OJ%20TLE%2...
860                              POST /action.php HTTP/1.1
15795    GET /bootstrap-3.3.7/js/bootstrap.min.js HTTP/1.1
7270                      GET /archive.php?page=2 HTTP/1.1
Name: URL, Length: 12805, dtype: object

In [30]:
print("Test URLs:")
test_urls

Test URLs:

9452                             GET /contest.php HTTP/1.1
5566                             GET /archive.php HTTP/1.1
13993                              GET /login.php HTTP/1.1
304                        GET /css/normalize.css HTTP/1.1
6143     GET /bootstrap-3.3.7/js/bootstrap.min.js HTTP/1.1
                               ...
10309       GET /js/vendor/modernizr-2.8.3.min.js HTTP/1.1
11786                              GET /login.php HTTP/1.1
5157                               GET /login.php HTTP/1.1
7631                       GET /css/normalize.css HTTP/1.1
10618       GET /js/vendor/modernizr-2.8.3.min.js HTTP/1.1
Name: URL, Length: 3202, dtype: object

In [32]:
train_urls.describe()

count                       12805
unique                        295
top       GET /login.php HTTP/1.1
freq                         2656
Name: URL, dtype: object

In [33]:
test_urls.describe()

count                        3202
unique                        156
top       GET /login.php HTTP/1.1
freq                          628
Name: URL, dtype: object